<?xml version="1.0" encoding="utf-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="https://github.com/DaveRandom/cloud-to-butt-opera" viewmodes="minimized" version="1.0">

  <name>Cloud To Butt - XKCD Edition</name>
  <description>An Opera extension that replaces occurrences of "the cloud" with "my butt", along with substitutions from xkcd.com/1288. And a few others.</description>
  <author>Steven Frank</author>
  <license href="http://www.opensource.org/licenses/mit-license.html">MIT</license>

  <access origin="*"/>

</widget>
